{% load static %}

<footer>
    <div class="vrn">CHALEN VENTURES LIMITED</div>
    <div class="row">
      <div class="fotainer">
        <div class="sec-aboutus">
          <h1>Work Days</h1>
          <p>
            Monday - Friday || 8:00am - 5:00pm
            <br />
            <br />saturday || 9:00am - 1:00pm<br /><br />Sunday || Closed
          </p>
        </div>
      </div>
      <div class="fotainer">
        <div class="sec-quicklinks">
          <h1>Quick Links</h1>
          <ul>
            <li><a href="{% url 'cvl_app:home' %}">HOME</a></li>
            <li><a href="{% url 'cvl_app:services' %}">SERVICES</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="{% url 'cvl_app:contact' %}">CONTACT</a></li>
          </ul>
        </div>

        <div class="row">
          <div class="icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
          </div>
        </div>
        <div class="copy">Copyright &copy; 2022.All Rights Reserved</div>
      </div>
      <div class="fotainer">
        <div class="sec-contacts">
          <h1>Contact Us</h1>

          <div class="loc">
            <i class="fa-solid fa-location-dot"></i>
            <p>
              Yesplaza <br />
              1stFloor Rm7<br />KITALE,KENYA
            </p>
          </div>
          <div class="pho">
            <i class="fa-solid fa-phone"></i>
            <p>+254 746 898969</p>
          </div>
          <div class="env">
            <i class="fa-solid fa-envelope"></i>
            <p>Charnox254@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </footer>